#project-specific
orig*/
joyce.har
pagespeed.log
.joycerc

#clojure
pom.xml
pom.xml.asc
*jar
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
