@import "base.less";
@import "base-context.less";
@import "menus.less";
@import "grids.less";

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

@bg-contrast: #dfb784;
@bg: #ffedc3;
@bg-header: #ce882d;

a.note { color: darkblue; }
a.note.artist { color: #307EE3; }
a.note.bodily { color: #CF2929; }
a.note.dublin { color: #9C632A; }
a.note.literature { color: #F59627; }
a.note.ireland { color: #40B324; }
a.note.performances { color: #AB59C2; }

cite.page { display: none; }

@menu-width: 180px;

body.home {
  font-family: 'Merriweather', serif; 
  background-color: @bg;

  nav {
    font-size: 1.7em;
  }

  img {
    display: block;
  }
}

img {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
body,
nav,
#hamburger {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body {
    color: #777;
    padding-left: 0;
}

body.content.navigating {

    nav {
        left: @menu-width;
        width: @menu-width;
    }

    #hamburger {
        left: @menu-width;
    }
}

.page-content {
  max-width: 800px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

main {
    font-size: 1.1em;

    h1, h2 {
        font-weight: 400;
    }

    h1 {
        color: #333;
        padding: 0.8em 0 0.5em;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid #eee;
        margin: 0.2em 0 1em;
        font-size: 2.2em;
    }

    h2 {
        .page-content;
        color: #888;
        font-size: 1.5em;
    }

    ul.gallery {
      padding: 0;

      .pure-g;
      .page-content;

      li { .pure-u-1-4; }
    }

    p {
      line-height: 1.6em;
      .page-content;
    }

    div.pure-g {
      .page-content;
    }
}
nav {
    .pure-menu;
    background: @bg;

    li { .pure-menu-item }

    header {
      .pure-menu-heading;
      font-size: 110%;
      color: #fff;
      margin: 0;
      text-align: left;
    }

    a {
      .pure-menu-link;
      color: #555;
    }

    ul {
      .pure-menu-list;
      background: transparent;
      border-top: 1px solid #333;
      border: none;
    }

    /*
    Change color of the anchor links on hover/focus.
    */
    li a:hover,
    li a:focus {
        background: @bg-contrast;
    }

    /*
    This styles the selected menu item `<li>`.
    */
    li.selected,
    header {
        background: @bg-header;
    }

    /*
    This styles a link within a selected menu item `<li>`.
    */
    li.selected a {
        color: #fff;
    }

    header, a {
      border: none;
      padding: 0.6em 0 0.6em 0.6em;
    }
}

body.content {
  font-family: 'Roboto', sans-serif;

  main {
    margin-bottom: 50px;
  }

  nav {
      margin-left: -@menu-width;
      width: @menu-width;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1000; /* so the menu or its navicon stays above all content */
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
  }
}


/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`#hamburger` represents the responsive menu toggle that shows/hides on
small screens.
*/
#hamburger {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: @bg-header;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2em 1.6em;

    span {
        position: relative;
        display: block;
    }

    span,
    span:before,
    span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

    span:before,
    span:after {
        position: absolute;
        margin-top: -0.6em;
        content: " ";
    }

    span:after {
        margin-top: 0.6em;
    }
}

#hamburger:hover,
#hamburger:focus {
    background: @bg-header;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`
*/
@media (min-width: 48em) {

    body.content {
        padding-left: @menu-width;
        left: 0;

        nav {
            left: @menu-width;
        }

        #hamburger {
            display: none;
        }
    }

    body.home {
      img {
        float: left;
        border: 1em solid black;
        margin-right: 1em;
      }

      nav {
        line-height: 1.8em;

        header {
          background-color: transparent;
          color: #000;
        }

        header, ul, a {
          display: inline;
        }

        a {
          padding-right: 0.6em;
        }

        li {
          display: inline-block;
        }

        li:after {
          content: "\2022";
        }

        li:last-child:after {
          content: "";
        }

        li a:hover,
        li a:focus {
            background: inherit;
            text-decoration: underline;
            color: @bg-header;
        }
      }
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Tap the menu to trigger the navigating state.
        * Make the window small.
        * Make the window large again.
    */
    body.navigating {
      left: @menu-width;
    }

    body.reading #hamburger {
      top: -5em;
    }
}
