@import "base.less";
@import "base-context.less";
@import "menus.less";
@import "grids.less";

@bg-contrast: #60b78f;
@bg: #ffedc3;
@bg-header: #ce882d;

@color-header: #7f4800;

@artist-color: #307EE3;
@bodily-color: #CF2929;
@dublin-color: #9C632A;
@literature-color: #F59627;
@ireland-color: #40B324;
@performances-color: #AB59C2;

@menu-width: 180px;

body.home {
  font-family: 'Merriweather', serif; 
  background-color: @bg;

  nav {
    font-size: 1.7em;
  }

  img {
    display: block;
  }
}

img {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
body,
nav,
#controls {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body {
    color: #777;
    padding-left: 0;
}

body.content.navigating {

    nav {
        left: @menu-width;
        width: @menu-width;
    }

    #controls {
        left: @menu-width;
    }
}

.page-content {
  max-width: 800px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

main.colorful {
  a.note { color: darkblue; }
  a.note.artist { color: @artist-color; }
  a.note.bodily { color: @bodily-color; }
  a.note.dublin { color: @dublin-color; }
  a.note.literature { color: @literature-color; }
  a.note.ireland { color: @ireland-color; }
  a.note.performances { color: @performances-color; }
}

main {
    a.note {
      color: inherit;
      text-decoration: none;
    }

    font-size: 1.1em;

    h1, h2 {
        font-weight: 400;
    }

    h1 {
        color: #333;
        padding: 1.5em 0 0.5em;
        margin: 0;
        text-align: center;
        border-bottom: 1px solid #eee;
        margin: 0 0 1em;
        font-size: 2.2em;
    }

    h2 {
        .page-content;
        color: #888;
        font-size: 1.5em;
    }

    ul.gallery {
      padding: 0;

      .pure-g;
      .page-content;

      li { .pure-u-1-4; }
    }

    p {
      line-height: 1.6em;
      .page-content;
    }

    div.pure-g {
      .page-content;
    }
}
nav {
    .pure-menu;
    background: @bg;
    font-size: 17px;

    li { .pure-menu-item }

    header {
      .pure-menu-heading;
      color: #fff;
      margin: 0;
      text-align: left;
    }

    a {
      .pure-menu-link;
      color: #555;
    }

    ul {
      .pure-menu-list;
      background: transparent;
      border-top: 1px solid #333;
      border: none;
    }

    /*
    Change color of the anchor links on hover/focus.
    */
    li a:hover,
    li a:focus {
        background: @bg-contrast;
    }

    /*
    This styles the selected menu item `<li>`.
    */
    li.selected,
    header {
        background: @bg-header;
    }

    /*
    This styles a link within a selected menu item `<li>`.
    */
    li.selected a {
        color: #fff;
    }

    header, a {
      border: none;
      padding: 0.6em 0 0.6em 0.6em;
    }
}

body.content {
  font-family: 'Roboto', sans-serif;

  main {
    margin-bottom: 50px;
  }

  nav {
      margin-left: -@menu-width;
      width: @menu-width;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1000; /* so the menu or its navicon stays above all content */
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
  }
}

#controls > * {
  vertical-align: middle;
}

#controls {
    position: fixed;
    top: 0;
    left: 0; /* "#menu width" */
    background: transparent;
    z-index: 10;
    width: 100%;
    font-size: 10px; /* change this value to increase/decrease button size */

    label, #hamburger, button {
      font-weight: bold;
      float: left;
    }

    #hamburger {
      color: #fff;
      background: @bg-header;
    }

    form {
      display: block;
      float: right;

      label, button {
        font-size: 1.4em;
      }

      label {
        display:none;
      }

      button:active {
        border: 0.1em solid #888;
        box-shadow: none;
      }

      button {
        color: @color-header;
        margin: 0.2em 0.4em 0 0;
        height: 2.7em;
        width: 7em;
        border-radius: 0.2em;
        box-shadow: .2em .2em .2em #aaa, 0 0 .2em #aaa;
        border: none;
        background: white;
      }

      button#coloration {
        width: 5em;

        .artist { color: @artist-color; }
        .bodily { color: @bodily-color; }
        .dublin { color: @dublin-color; }
        .literature { color: @literature-color; }
        .ireland { color: @ireland-color; }
        .performances { color: @performances-color; }
      }
    }

    #hamburger {
        width: 2em;
        padding: 2em 1.6em;

        span {
            position: relative;
            display: block;
        }

        span,
        span:before,
        span:after {
            background-color: #fff;
            width: 100%;
            height: 0.2em;
        }

        span:before,
        span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        span:after {
            margin-top: 0.6em;
        }
    }
}

cite.page {
  .page-content;
  display: none;
  text-align: right;
  padding-bottom: 4em;
}

p cite.page {
  padding-right: 0;
}

cite.page.chosen {
 display: block;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`
*/
@media (min-width: 48em) {

    body.content {
        padding-left: @menu-width;
        left: 0;

        nav {
          left: @menu-width;
        }

        #controls {
          background: transparent;
          #hamburger {
              display: none;
          }
      }
    }

    body.home {
      img {
        float: left;
        border: 1em solid black;
        margin-right: 1em;
      }

      nav {
        line-height: 1.8em;

        header {
          background-color: transparent;
          color: #000;
        }

        header, ul, a {
          display: inline;
        }

        a {
          padding-right: 0.6em;
        }

        li {
          display: inline-block;
        }

        li:after {
          content: "\2022";
        }

        li:last-child:after {
          content: "";
        }

        li a:hover,
        li a:focus {
            background: inherit;
            text-decoration: underline;
            color: @bg-header;
        }
      }
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Tap the menu to trigger the navigating state.
        * Make the window small.
        * Make the window large again.
    */
    body.navigating {
      left: @menu-width;
    }

    body.reading #controls {
      top: -5em;
    }
}
