<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>The Joyce Project : Ulysses</title>
      <meta name="description" content="An interactive companion to James Joyce's Ulysses">
      <meta name="keywords" content="joyce project ulysses net james john hunt university montana highlight links interactive companion reader">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="style/site.css">
      <script src="script/site.js"></script>
  </head>
  <body>
    <nav>
      <section id="chapter-nav">
        <header>Chapters</header>
        <ul>
          <li><a href="some-chapter">Chapter Name</a></li>
        </ul>
      </section>
      <section id="notes-nav">
        <header>Notes</header>
        <ul>
          <li><a href="colorcoding.html">Color Coding</a></li> 
          <li><a href="aboutnotes.html">About the Notes</a></li> 
          <li><a href="tally">Tally of Notes</a></li> 
        </ul>
      </section>
    </nav>
    <h1>This is a Title</h1>
    <main>
      <p>Here is some content.</p>
    </main>
  </body>
</html>
